html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: .08em;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
}
body {
    font-family: 'Roboto';
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

ul {
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
}
header[role="banner"] {
    border-bottom: 0.0625em solid #e7e9eb;
    background-color: white;
    text-align: center;
    line-height: 4em;
    font-size: 80%;
    width: 100%;
}
a { text-decoration: none; }
.mini-banner { font-size: 90%; }
ul li { padding: 1em .5em 1em .5em; }
ul li a { transition: color .1s linear; }
h1, h2 { padding: 0; margin: 0; }
header[role="banner"] a { color: rgb(0, 82, 156); }

#project ul li {
    transition: background .25s linear;
    border-bottom: 1px solid #eee;
    width: 100%;
}
#project ul li:hover { background: #bdc3c7; }
#project ul li a:hover { color: rgb(52, 152, 219); }

@media all and (min-width: 400px) {
    header[role="banner"] .mini-banner { display: inline; }
    #project .mini-banner { text-align: right; display: inline; }
    #contact ul li { display: inline-block; }
}
@media all and (min-width: 600px) {
    header[role="banner"], #contact { display: none; }
    #side-content { 
        background-color: #3498db;
        font-weight: 100;
        display: block; 
        color: white;
        height: 100%;

    }
    #side-content dt {
        font-family: 'Open Sans';
        margin: .5em 0 .5em 0;
    }
    #side-content dd {
        letter-spacing: .1em;
        margin-bottom: .2em;
        text-align: center;
        font-size: 80%;
    }
    #side-content p {
        letter-spacing: .05em;
        margin-left: 5%;
    }
    #content {
        padding-left: 1em;
        margin-left: 40%;
        width: 60%;
    }
    #experience { display: none; }
    .source { display: block; }
}
