<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/material-ui.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="assets/css/bundle.css">
        <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,300,500'>
    </head>
    <body>
        <div id="contents">{{{contents}}}</div>
        <script src="dist/bundle.js"></script>
    </body>
</html>
