@import "../../variables.less";

.project-list li { padding: 1em; }
.toolbar { background: white; }
.modal-dialog { width: 75%; }
.project-desc { cursor: default; }

.mui-toolbar-group.mui-right {
    & .mui-icon-button {
        padding: 0;
    }
    & .fa.mui-font-icon {
        padding-left: 14px;
    }
}
.mui-icon-button-tooltip { text-transform: capitalize; }

.project {
    & h1 { font-size: 1.4em; margin: 0; padding: 0; }
    & .second-header { 
        margin: 0; 
        padding-left: 1em; 
        cursor: pointer; 
        color: gray; 
    }
   & .mui-flat-button { background-color: white; }
   & .mui-flat-button:hover { background-color: rgba(0, 188, 212, .1); }
}

.disabled { opacity: .2; }
