.project-list li {
    padding: 1em;
}

.toolbar { background: white; }
.modal-dialog { width: 75%; }

.mui-toolbar-group.mui-right {
    & .mui-icon-button {
        padding: 0;
    }
    & .fa.mui-font-icon {
        padding-left: 14px;
    }
}
.mui-icon-button-tooltip { text-transform: capitalize; }

